@tailwind base;
@tailwind components;
@tailwind utilities;

.login-background {
    width: 100vw;
    height: 100vh;
    background: linear-gradient( rgba(43, 15, 30, 0.9), rgba(15, 23, 43, .9) ),
    url('./Assets/login-bg.JPG');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99999;
}

.spinner-border {
    height: 4em;
    width: 4em
}

.error {
  color: red;
  font-size: 8px;
}

