@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&family=Heebo:wght@400;500;600&family=Nunito:ital,wght@1,800&family=Roboto:wght@300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

.sticky-top {
  position: fixed;
  top: 0;
}

.login-background {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(43, 15, 30, 0.9), rgba(15, 23, 43, .9)),
    url('./Assets/login-bg.JPG');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}


.SidebarList #active {
  background-color: #e4043c;
  color: #fff;
}


.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6) /* Black background with opacity */
}


/* button spinner */
.spinner-border {
  height: 4em;
  width: 4em
}


.spinner {
  animation: spin infinite 5s linear;

  /*You can increase or decrease the timer (5s) to 
  increase or decrease the speed of the spinner*/
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.error {
  color: red;
  font-size: 8px;
}

/* sidebar styling */

.menu-item:hover>.tooltip {
  display: block;
}

.tooltip {
  display: none;
  position: absolute;
  left: 99%;
  bottom: 80%;
  width: auto;
  padding: 4px 8px;
  border-radius: 15px 15px 15px 0;
  white-space: nowrap;
  background-color: gray;
  color: white;
}

/* user profile */
.user_header {
  min-width: 90vw;
  height: 20vh;
  background: linear-gradient(rgba(43, 15, 30, 0.9), rgba(15, 23, 43, .9)),
    url('./Assets/black-couple.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

